# ===========================================================================
# PROJECT ENVIRONMENT SETUP: behave.example/.envrc
# ===========================================================================
# SHELL: bash (or similiar)
# SEE ALSO: https://direnv.net/
# USAGE:
#   source .envrc
#
#   # -- BETTER: Use direnv (requires: Setup in bash / HOME/.bashrc)
#   # eval "$(direnv hook bash)"
#   direnv allow .
# ===========================================================================

export TOPDIR="$PWD"
export PYTHONPATH=".:$TOPDIR:$TOPDIR/lib/python:${PYTHONPATH}"
export PATH=".:$TOPDIR/bin:$PATH"
