# ============================================================================
# PYTHON PACKAGE REQUIREMENTS:
# ============================================================================
# REQUIRES: Python >= 2.6
# DESCRIPTION:
#    pip install -r <THIS_FILE>
#
# SPECIFIC DEPENDENCIES:
#   behave  -- BDD test framework, cucumber-clone for Python.
#   paver   -- Development and build support (optional)
#   pyhamcrest -- As assertations matcher library.
#
# MAYBE:
#   nose:       for assertations: eq_(x, y)
#   pytest:     for assertations
# ============================================================================
# nose   >= 1.0
# pytest >= 1.0

# behave >= 1.2.2.17
# parse  >= 1.5.3.4
# -e lib/python2/behave.zip
# -e lib/python2/parse.py

# git+https://github.com/jenisys/behave.git
# git+https://github.com/jenisys/parse.git
# https://github.com/jenisys/behave/parse/master.tar.gz
# -- LOCAL REQUIREMENTS:
# ../behave
# ../parse
argparse
PyHamcrest >= 1.6

# -- BUILD-SUPPORT:
paver >= 1.2
tox >= 1.4.3

# -- DOCUMENTATION: Tutorials with examples.
sphinx >= 1.1
sphinxcontrib-ansi >= 0.6
sphinxcontrib-programoutput >= 0.8

# -- OPTIONAL DOCUMENTATION: If PDF docs are needed.
# rst2pdf
