# ============================================================================
# PYTHON PACKAGE REQUIREMENTS:
# ============================================================================
# REQUIRES: Python >= 2.6
# DESCRIPTION:
#    pip install -r <THIS_FILE>
#
# SPECIFIC DEPENDENCIES:
#   behave  -- BDD test framework, cucumber-clone for Python.
#   paver   -- Development and build support (optional)
#   pyhamcrest -- As assertations matcher library.
#
# MAYBE:
#   nose:       for assertations: eq_(x, y)
#   pytest:     for assertations
# ============================================================================
# nose   >= 1.0
# pytest >= 1.0

behave >= 1.1.0
paver  >= 1.0
PyHamcrest >= 1.6

# -- DOCUMENTATION: Tutorials with examples.
sphinx >= 1.0
sphinxcontrib-ansi >= 0.6
sphinxcontrib-programoutput >= 0.8

# -- OPTIONAL DOCUMENTATION: If PDF docs are needed.
# rst2pdf >= 0.91

